//Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

//Text Styles
.x-large {
  font-size: 3rem;
  line-height: 0.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.small {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.text-small {
  font-size: 0.7rem;
  color: $light-color;
}

.text-primary {
  color: $primary-color;
}

.round-img {
  border-radius: 2%;
  border: 1px solid lighten($dark-color, 20%);
}

//Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: lighten($dark-color, 20%) 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

//Buttons

.btn {
  display: inline-block;
  // background: $light-color;
  color: $light-color;
  padding: 0.2rem 1rem;
  border: 2.6px solid $light-color;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  outline: none;
  transition: all 0.1s ease-in;

  &.btn-primary {
    // @include set-background($primary-color);
    border: 2.6px solid $primary-color;
    color: $primary-color;
    background-color: transparent;
    &:hover {
      background: lighten($dark-color, 5%);
      border: 2.6px solid $light-color;
    }
  }

  &.btn-small {
    // @include set-background($primary-color);
    border: none;
    color: $primary-color;
    background-color: transparent;
    font-size: 0.8rem;
    padding: 0;
    &:hover {
      border: none;
      background-color: transparent;
    }
  }

  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }
  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }
  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }
  &:hover {
    background: lighten($dark-color, 5%);
    border: 2.6px solid $light-color;
    color: #fff;
  }
}

//Alerts
.alert {
  padding: 0.2rem 0.4rem;
  margin: 1rem;
  opacity: 0.9;
  background: $light-color;
  border-radius: 0.2rem;
  color: #333;
  font-style: italic;
  text-align: center;

  &.alert-primary {
    @include set-background($primary-color);
  }
  &.alert-dark {
    @include set-background($dark-color);
  }
  &.alert-success {
    @include set-background($success-color);
  }
  &.alert-danger {
    @include set-background($danger-color);
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
